
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-left">


    <div>
        <div>
            <a class="nav-link" asp-area="Customer" asp-controller="Product" asp-action="Index"><h2 class="text-black-50"><b>Most choice products</b></h2></a>


        </div>
    </div>