
@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> 
<div class="backgroundwhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> All Supplier </h2>
        </div>
       
    </div>
    <br />
    <br />

    <table id="tblSupplier" class="table table-hover table-bordered" stype ="width : 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th></th>
            </tr>
        </thead>
       
    </table>

</div>

@section Scripts{
<script   src="~/js/category.js"></script>

 }
